body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
h3 {
    font-size: 2.5rem
}
p {
    font-size: 1.5rem
}


.hero {
    height: 100vh;
    background-image: url('lake.jpg');         
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white; 
    text-align: center; 
    font-family: "Verdana", "Helvetica", sans-serif;
    font-weight: light
}
.hero-container {
    width: 100vw;
}
.hero-bottom {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    margin-bottom: 15vw;
    font-size: 4rem;
    background-color: rgba(56, 61, 59, 0.7);
    min-width: 100vw;
    padding: 10px 0px
}
.hero h2 {
    color: white;
    font-size: 2.5rem;
    margin-top: 9vh
}
.hero a {
    background-color: #383d3b;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 1.5rem
}
.hero a:hover {
    background-color: #7c7c7c
}
.big {
    transition: transform 0.3s ease; 
}
.big:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 800px) {
    .hero h1 {
      font-size: 2.5rem
    }
    .hero h2 {
        font-size: 1.4rem;
        margin-top:
    }
    .hero a {
        font-size: 1rem
    }
    .hero-bottom {
        margin-top: 32vh
    }
  }

.teletherapy, .footer {
    background-color: #5DA9E9;
    padding: 10px 10vw;
    margin: 2rem 0rem;
}
@media screen and (max-width: 800px) {
    .teletherapy {
        margin-top: 0rem;
    }
}

.supervision-contact {
    display: flex;  
}
.supervision-container {
    padding: 20px 5vw 20px 10vw;
}
.supervision-container h3 {
    margin-top: 0px
}
.contact-container {
    background-color: #E9C384;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
    padding: 15px 80px 15px 35px;
    max-height: 325px
}
.contact-container:hover {
    background-color: #dfad5c
}
.contact-container h3 {
    font-size: 2rem;
    margin: 20px 0px 0px 0px;
}
.icon-text {
    display: flex;
    align-items: center;
}
.icon-text:hover {
    color: white;
}
.icon-text p:hover {
    text-decoration: underline;
}
.icon-text p {
    font-size: 1.2rem;
    margin: 15px 0px
}
i {
    font-size: 1.8rem ;
    margin-right: 15px
}
@media screen and (max-width: 800px) {
    .supervision-contact {
        flex-direction: column;  
    }
    .contact-container {
        border-radius: 0px
    }
}

.insurance {
    margin: 2rem 5rem
}

.insurance-container {
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid #E9C384
}

.team {
    display: flex;
    justify-content: center;
    margin: 2rem 6rem;
}

.team-card {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

.team-card img {
    padding-top: 15px;
    width: ;
    height: auto;
}

.team-card h4, .team-card h5 {
    margin: 10px 0;
}

.team-card p {
    padding: 0 15px;
    margin: 10px 0;
    text-align: left;
}

.team-card a {
    color: #3498db;
    text-decoration: none;
}

.team-card a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0
}

.footer-contact-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-contact-container a {
    padding: 0px 10px
}

.design-footer {
    display: flex;
    justify-content: center;
    align-items: center
}